* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}


.bg {
    background-image: url('asset/image/schedbg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: brightness(0.9);
}